<div class="container">
  <div class="mx-auto">
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <div class="mx-auto" id="card_bx">
            <div class="txt_main">
              <div class="bx_txt">
                <h2>Por favor ingresa cantidad de filtros.</h2>
              </div>
            </div>
            <div class="bx-body">
              <div class="bx-txt">
                <input type="text" #txt_input class="form-control w-75" maxlength="2" min="2"
                  (keyup)="getValor(txt_input.value)"
                  onkeypress="if(event.keyCode<48 || event.keyCode>57){return false;}">
              </div>
              <div class="mt-5">
                <div class="bx-btn">
                  <button #btn_accion [disabled]="isActive" (click)="setCookie()" class=" btn btn-danger w-75">Ingresar
                    por favor.</button>
                </div>
              </div>
            </div>
            <div *ngIf="isVisible">
              <div class="mt-5" id="txt_error">
                <span><strong>No son los valores adecuados ingresado en el campo.</strong></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>